<div class="main">
  <div class="js-comment" phx-update="ignore">
    <%= render("form.html", assigns) %>
  </div>

  <div class="comment_list" phx-hook="CommentList">
    <%= for comment <- @comments do %>
      <%= render(__MODULE__, "show.html", Map.merge(assigns, %{comment: comment, parent: "comment--parent"})) %>
    <% end %>
  </div>
</div>
