<%= form_for @changeset,
  "#",
  [class: "comment_form is-hidden", phx_submit: :save],
  fn(f) -> %>

  <%= hidden_input(f, :parent_id, id: false, value: @parent.id) %>
  <%= textarea(f, :body, rows: 2, required: true, placeholder: "Your reply...") %>

  <div class="comment_form-footer">
    <button type="submit">Reply</button>
  </div>
<% end %>


