:root {
  --smartphone: 452px;
  --tablet: 768px;
  --desktop: 1080px;

  --gray-700: #3d4852;
  --gray-600: #606f7b;
  --gray-500: #8795a1;
  --gray-400: #b8c2cc;
  --gray-300: #dae1e7;
  --gray-200: #f1f5f8;
  --gray-100: #f8fafc;
  --transparent: transparent;
  --black: #22292f;
  --gray-700: #3d4852;
  --gray-600: #606f7b;
  --gray-500: #8795a1;
  --gray-400: #b8c2cc;
  --gray-300: #dae1e7;
  --gray-200: #f1f5f8;
  --gray-100: #f8fafc;
  --white: #ffffff;
  --red-300: #ef5753;
  --red-200: #f9acaa;
  --red-100: #fcebea;
  --yellow-700: #453411;
  --yellow-600: #FFE600;
  --yellow-500: #f2d024;
  --yellow-400: #ffed4a;
  --yellow-300: #fff382;
  --yellow-200: #fff9c2;
  --yellow-100: #fcfbeb;
  --green-product: #84ABE0;
  --green-700: #0f2f21;
  --green-600: #1a4731;
  --green-500: #1f9d55;
  --green-400: #38c172;
  --green-300: #51d88a;
  --green-200: #a2f5bf;
  --green-100: #e3fcec;
  --blue-700: #12283a;
  --blue-600: #1c3d5a;
  --blue-500: #2779bd;
  --blue-400: #3490dc;
  --blue-300: #6cb2eb;
  --blue-200: #bcdefa;
  --blue-100: #eff8ff;
  --purple-700: #21183c;
  --purple-600: #382b5f;
  --purple-500: #794acf;
  --purple-home: #796CCF;
  --purple-document: #6B5FB8;
  --purple-400: #9561e2;
  --purple-300: #a779e9;
  --purple-200: #d6bbfc;
  --purple-100: #f3ebff;
}
